body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

:root {
    --gradiente: linear-gradient(98deg, var(--azul-principal) 55%, var(--azul-degrade) 165%);
    --azul-principal: #002F52;
    --azul-degrade: #326589;
    --preto: #000;
    --branco: #fff;
    --branco-secundario: #f9f9f9;
    --laranja-secundario: #996600;
    --laranja: #eb9b00;
    --cinza-fundo: #ebecee;
    --cinza-escuro: #474646;
    --cinza-claro: #858585;
    --movimento: -105%;
}

/* ====== cabeçalho ====== */

a {
    text-decoration: none;
    color: var(--preto);
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 130px 1fr;
}

.desktop {
    display: none;
}

.menu_mobile {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

.conta {
    justify-self: end;
    padding-right: 20px;
}

.logoMobile {
    display: flex;
    width: 40px;
}

.menuMobile {
    width: 80px;
    height: 80px;
    border: 0px;
    background: var(--branco);
}

.svgMenu {
    width: 60px;
    height: 60px;
}

.icon {
    width: 40px;
}

.perfil {
    width: 36px;
}

@media (min-width:1024px) {
    .header {
        grid-template-columns: repeat(3, auto);
        padding: 15px;
    }

    .desktop {
        display: flex;
    }

    .tablet {
        display: none;
    }

    .nav {
        align-items: center;
        gap: 10px;
    }

    .favoritos,
    .menu_mobile {
        display: none;
    }

    .opcoes {
        justify-self: flex-start;
    }

    .link_conta {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 10px;
    }

    .conta {
        display: flex;
        padding: 0px;
        gap: 20px;
    }

    .opcoes_textos {
        padding: 20px;
    }

    /* ====== Pesquisa ====== */

}

@media (min-width:1270px) {
    .tablet {
        display: flex;
    }
}

/* ====== cabeçalho ====== */
/* ====== pesquisa ====== */

.pesquisa {
    display: grid;
    padding: 30px 30px;
    gap: 10px;
    background: var(--gradiente);
    color: var(--branco);
}

.input {
    position: relative;
    margin-top: 15px;
}

.titulo_pesquisa {
    font-size: 2em;
    font-weight: 700;
}

.botao_pesquisa {
    height: 40px;
    width: 100%;
    background: transparent;
    border: 0px;
    outline: 1px solid var(--branco);
    border-radius: 25px;
    color: var(--branco);
    padding: 0px 20px;
    box-sizing: border-box;
}

.texto_botao::before {
    content: url(images/lupa.svg);
    background-repeat: no-repeat;
    background-size: 20px;
}

.texto_botao {
    position: absolute;
    display: flex;
    align-items: center;
    top: 7px;
    left: 5px;
    transition: .5s;

}

.botao_pesquisa:focus~.texto_botao,
.botao_pesquisa:valid~.texto_botao {
    transform: scale(0.7);
    top: -15px;
    left: -25px;
    background: var(--azul-principal);
    padding: 0px 5px;
    transition: .5s;
}

@media (min-width:1024px) {
    .pesquisa {
        padding: 50px 25%;
        justify-items: center;
    }

    .input {
        width: 80%;
    }

    .paragrafo_pesquisa {
        padding: 0px 7.5%;
    }
}

@media (min-width:1270px) {
    .titulo_pesquisa {
        font-size: 2.5em;
    }
}

/* ====== pesquisa ====== */
.titulo_lancamentos,
.titulo_vendidos {
    font-size: 1.5em;
    color: var(--laranja);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ====== carrosel ====== */
.lancamentos {
    padding: 40px 0px;
    background: var(--cinza-fundo);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    position: relative;
}

.vendidos {
    padding: 40px 0px;
    background: var(--cinza-fundo);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    position: relative;
}

.carossel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    overflow: scroll;
    width: 75%;
    margin: auto;
}

.navigatorManualLanc,
.navigatorManualVend {
    display: none;
}

.img {
    position: relative;
    margin-top: 10px;
    width: 125px;
}

.label {
    display: none;
}

.carossel {
    width: 405px;
}

.btnsLanc,
.btnsVend {
    display: none;
}


@media (min-width:1024px) {
    .carossel {
        width: 75%;
        overflow: hidden;
    }

    .img {
        width: 245px;
    }

    .label {
        display: flex !important;
        gap: 10px;
        grid-column: span 3;
        justify-content: center;
    }

    .btnLanc,
    .btnVend {
        display: flex !important;
        outline: solid 2px black;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-bottom: 10px;
    }

    .btnLanc:hover,
    .btnVend:hover {
        background-color: black;
    }

    #radioLanc1:checked~.label>.radioBtnLanc1,
    #radioVend1:checked~.label>.radioBtnVend1 {
        background-color: black;
    }

    #radioLanc2:checked~.label>.radioBtnLanc2,
    #radioVend2:checked~.label>.radioBtnVend2 {
        background-color: black;
    }

    #radioLanc3:checked~.label>.radioBtnLanc3,
    #radioVend3:checked~.label>.radioBtnVend3 {
        background-color: black;
    }

    #radioLanc4:checked~.label>.radioBtnLanc4,
    #radioVend4:checked~.label>.radioBtnVend4 {
        background-color: black;
    }

    #radioLanc1:checked~.img,
    #radioVend1:checked~.img {
        margin-left: 0;
        transition: 2s;
    }

    #radioLanc2:checked~.img,
    #radioVend2:checked~.img {
        transition: 1s;
        margin-left: var(--movimento);
    }

    #radioLanc3:checked~.img,
    #radioVend3:checked~.img {
        transition: 1s;
        margin-left: calc(var(--movimento)*2);
    }

    #radioLanc4:checked~.img,
    #radioVend4:checked~.img {
        transition: 1s;
        margin-left: calc(var(--movimento) * 3);
    }

    .btnsLanc,
    .btnsVend {
        display: flex;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-200%);
    }

    .btnsVend {
        top: 50%;
        transform: translateX(-50%) translateY(-400%);

    }

    .anteriorLanc,
    .anteriorVend {
        position: relative;
        left: -450%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(images/seta.svg);
    }

    .proximoLanc,
    .proximoVend {
        position: relative;
        left: 450%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(images/seta.svg);
        transform: rotate(180deg);
    }

    .setaLanc,
    .setaVend {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--azul-principal);
        color: white;
        border: 0px;
    }
}



/* ====== carrosel ====== */

/*=== detalhes lançamentos ===*/

.abaLivros,
.autoraMes {
    width: 80%;
    box-shadow: 1px 1px 10px #00000062;
    border-radius: 10px;
    padding: 15px;
    background: var(--branco);
    margin: auto;
    display: grid;
    grid-template-areas:
        "titulo imagem"
        "descricao imagem"
        "paragrafo imagem"
        "favoritos botao";
    gap: 10px;
}

.imgAngular,
.autora_img {
    grid-area: imagem;
}

.titulo_livros,
.autora_titulo {
    grid-area: titulo;
    font-size: 1.4em;
    color: var(--laranja);
    font-weight: 700;
    text-transform: uppercase;
}

.descricao_livros,
.autora {
    grid-area: descricao;
    color: var(--azul-principal);
    font-weight: 600;
    font-size: 1.1em;
}

.paragrafo_livros,
.autora_descricao {
    grid-area: paragrafo;
    font-weight: 400;
}

.FavCar {
    display: flex;
    gap: 15px;

}

.FavCar img {
    width: 35px;
    height: 35px;
}

.btnSaiba {
    background: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #00000062;
    height: 40px;
}

@media (min-width:1024px) {
    .abaLivros {
        column-gap: 40px;
        width: 65%;
    }

    .titulo_livros {
        font-size: 2em;
    }
}

/*=== detalhes lançamentos ===*/

/*=== detalhes vendidos ===*/
.autoraMes {
    grid-template-areas:
        "estrelas imagem"
        "titulo imagem"
        "descricao imagem"
        "paragrafo imagem"
        "favoritos botao";
}

.estrelas {
    grid-area: estrelas;
}

/*=== detalhes vendidos ===*/
/*======= topicos =======*/

.topicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    padding: 10px;
    padding-bottom: 30px;
    background: var(--gradiente);
}

.tops {
    width: 100%;
}

.titulo_topicos {
    font-size: 1.25em;
    grid-column: span 3;
    padding: 20px;
    color: var(--laranja);
    font-weight: 700;
}

@media (min-width:1024px) {
    .topicos {
        grid-template-columns: repeat(4, 1fr);
        padding: 10px 200px;
        padding-bottom: 30px;
    }

    .titulo_topicos {
        grid-column: span 4;
    }
}

/*======= topicos =======*/

/*======= email =======*/
.email {
    padding: 15px;
    border-bottom: 1px solid var(--preto);
    position: relative;
    gap: 0px;
}

.titulo_email {
    font-size: 1.7em;
    font-weight: 700;
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(90deg, var(--azul-principal) 25%, var(--azul-degrade) 65%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    grid-area: titulo;
}

.paragrafo_email {
    color: var(--azul-principal);
    grid-area: paragrafo;
}

.placeholderEmail::before {
    content: url(images/email.svg);
}

.placeholderEmail {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 17px;
    left: 25px;
    background: white;
    padding: 0px 5px;
    transition: .5s;
}

.emailBtn {
    width: 90%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid var(--azul-principal);
    margin-top: 20px;
    padding-left: 20px;
    grid-area: email;
}

.emailBtn:focus~.placeholderEmail,
.emailBtn:valid~.placeholderEmail {
    transform: scale(0.8);
    bottom: 35px;
    left: 15px;
    gap: 5px;
    transition: .5s;
}

@media (min-width:1024px) {
    .email {
        grid-template-areas:
            "titulo email"
            "paragrafo email";
        padding: 35px 20%;
    display: grid;
        
    }

    .placeholderEmail {
        left: 50%;
        top: 65px;
        height: max-content;
    }

    .emailBtn:focus~.placeholderEmail,
    .emailBtn:valid~.placeholderEmail {
        left: 49%;
        top: 40px;
    }

    .emailBtn:focus~.placeholderEmail,
    .emailBtn:valid~.placeholderEmail {}

    .titulo_email,
    .paragrafo_email {
        width: 300px;
    }

    .emailBtn {
        width: 300px;
        height: 40px;
    }
}

/*======= email =======*/

/*======= footer =======*/
.footer {
    display: grid;
    padding: 25px;
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 35px;
}

.abas {
    display: none;
}

@media (min-width:1024px) {
    .footer {
        grid-template-columns: repeat(4, auto);
    }

    .abas {
        font-weight: 400;
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        font-size: 0.7em;
        border-left: 1px solid black;
        padding-left: 20px;
        gap: 10px;
    }

    .aba_titulo {
        text-transform: uppercase;
        font-weight: 700;

    }

    .footerItens {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .footerItens>img {
        width: 30px;
        height: 30px;
    }
}

/*======= footer =======*/
